{% extends 'base.html.twig' %}

{% block title %}Votre Panier
{% endblock %}

{% block body %}
	<body class="bg-white">

		<div class="custom-card">

			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
				<div class="container">
					<a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_sport') }}">Choix des sports</a>
							</li>
							<!-- Ajoutez d'autres liens si nécessaire -->
						</ul>
					</div>
				</div>
			</nav>

			<section class="container my-5">
				<h1 class="mb-4 text-center">Votre Panier</h1>

				{% if data is not empty %}
					<div class="table-responsive">
						<table class="table table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Ticket</th>
									<th scope="col">Sport</th>
									<th scope="col">Prix Unit.</th>
									<th scope="col">Offre</th>
									<th scope="col">Quantité</th>
									<th scope="col">Total</th>
									<th scope="col">Action</th>
								</tr>
							</thead>
							<tbody>
								{% for element in data %}
									<tr>
										<td>{{ element.product.description }}</td>
										<td>{{ element.sport }}</td>
										<td>{{ element.price }}
											€</td>
										<td>{{ element.type | capitalize }}</td>
										<td>{{ element.quantity }}</td>
										<td>{{ (element.price * element.quantity)|number_format(2, '.', '') }}
											€</td>
										<td>
											<a href="{{path('cart_add',{id: element.product.id, type: element.type}) }}" class="btn btn-outline-success btn-sm">+</a>
											<a href="{{ path('cart_remove',{id: element.product.id, type: element.type}) }}" class="btn btn-outline-warning btn-sm">-</a>
											<a href="{{ path('cart_delete',{id: element.product.id, type: element.type}) }}" class="btn btn-outline-danger btn-sm">Supprimer</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
							<tfoot>
								<tr>
									<th colspan="5" class="text-right">Total</th>
									<th>{{ total }}
										€</th>
									<th>
										<a href="{{ path('cart_empty') }}" class="btn btn-danger btn-sm">Vider le panier</a>
									</th>
								</tr>
							</tfoot>
						</table>
					</div>

					<div class="d-flex justify-content-between align-items-center mt-4">
						<p class="lead">
							Vérifiez vos articles et quantités avant de finaliser votre achat.
						</p>
						<a href="{{ path('app_order_add') }}" class="btn btn-lg" style="background-color: black; color: white;">Valider le panier</a>
					</div>

					<div class="mt-4">
						<h2 class="h4">Comment ça marche?</h2>
						<ul>
							<li>Revisez vos tickets et quantités ci-dessus.</li>
							<li>Utilisez les boutons pour ajuster les quantités ou supprimer des éléments.</li>
							<li>Le prix total sera automatiquement mis à jour.</li>
							<li>Une fois que tout est prêt, cliquez sur "Valider le panier" pour continuer.</li>
						</ul>
					</div>


				{% else %}
					<div class="alert alert-info text-center" role="alert">
						Votre panier est vide.
					</div>
					<div class="text-center mt-4">
						<a href="{{ path('app_sport') }}" class="btn btn-primary">Retour à la billetterie</a>
					</div>
				{% endif %}
			</section>
		</div>
	</body>

{% endblock %}
