{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité RGPD
{% endblock %}

{% block body %}
	<section class="container my-5">
		<div class="card shadow-lg mb-4" style="border-radius: 15px;">
			<div class="card-body">
				<h1 class="text-center mb-4" style="color: #331362;">Politique de confidentialité et RGPD</h1>
				<p class="">
					Nous accordons une grande importance à la confidentialité et à la sécurité des données de nos utilisateurs. Cette politique de confidentialité décrit les informations que nous recueillons, comment nous les utilisons et les partageons, et les choix que vous pouvez faire concernant vos données personnelles lorsque vous utilisez notre site de réservation de billets pour les Jeux Olympiques.<br><br>
					<strong style="color: #331362;">1. Collecte des informations personnelles</strong><br>
					Pour effectuer une réservation de billets, nous collectons les informations personnelles suivantes :
					Nom et prénom : Nous avons besoin de ces informations pour identifier les titulaires des billets.<br>
					Adresse e-mail : Nous utilisons votre adresse e-mail pour vous envoyer la confirmation de réservation et toute communication relative à votre commande.<br>
					Informations de carte bancaire : Si vous choisissez d'acheter des billets, nous collecterons les informations de votre carte bancaire pour traiter le paiement. Ces informations sont cryptées et sécurisées conformément aux normes de l'industrie.<br><br>
					<strong style="color: #331362;">2. Utilisation des informations personnelles</strong><br>
					Nous utilisons les informations personnelles collectées uniquement dans le but de :
					Faciliter le processus de réservation et de gestion des billets.<br>
					Vous contacter en cas de problème avec votre réservation ou pour toute communication importante liée à votre commande.<br>
					Traiter les paiements des billets achetés.<br><br>
					<strong style="color: #331362;">3. Partage des informations personnelles</strong><br>
					Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas suivants :
					Lorsque cela est nécessaire pour traiter votre paiement avec nos prestataires de services de paiement.<br>
					Lorsque cela est exigé par la loi ou par une autorité gouvernementale compétente.<br><br>
					<strong style="color: #331362;">4. Vos droits</strong><br>
					Vous avez le droit de demander l'accès à vos informations personnelles, de les rectifier, de les supprimer ou de limiter leur traitement. Vous pouvez également vous opposer au traitement de vos données personnelles ou demander la portabilité de celles-ci.<br><br>
					<strong style="color: #331362;">5. Sécurité des données</strong><br>
					Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, toute altération, toute divulgation ou toute destruction.<br><br>
					<strong style="color: #331362;">6. Contact</strong><br>
					Si vous avez des questions concernant notre politique de confidentialité ou la manière dont nous traitons vos données personnelles, veuillez nous contacter à l'adresse suivante :
					<a href="mailto:support@jo2024.com" class="" style="color: #331362;">support@jo2024.com</a>.
					En utilisant notre site de réservation de billets pour les Jeux Olympiques, vous consentez à la collecte et à l'utilisation de vos informations personnelles conformément à cette politique de confidentialité.<br><br>
					<p style="color: #331362;">Dernière mise à jour : 25/04/2024</p>
				</p>
			</div>
		</div>
	</section>
{% endblock %}
