{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<div class="custom-card">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
				<!-- Navbar links if needed -->
			</div>
		</nav>

		<section class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-6">
					<div class="card mt-5">
						<div class="card-body ">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes connecté(e) comme {{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Me déconnecter</a>
								</div>
							{% else %}
								<h1 class="h3 mb-3 font-weight-normal text-center" style="color: #331362;">Me connecter</h1>
								<form method="post">
									<div class="mb-3">
										<label for="inputEmail" class="form-label">Email</label>
										<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
									</div>
									<div class="mb-3">
										<label for="inputPassword" class="form-label">Mot de passe</label>
										<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
									</div>

									<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

									<button class="btn btn-lg btn-primary btn-block mt-3" type="submit" style="background-color: #331362;">
										Me connecter
									</button>
								</form>
								<p class="mt-3 text-center"><a href="{{ path('app_register') }}" style="color: #331362;">Je n'ai pas de compte</a></p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
