{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="custom-card">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
				<!-- Ajoutez ici les liens de la navbar si nécessaire -->
			</div>
		</nav>

		<section class="container my-5">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<h1 class="text-center mb-4">Inscription</h1>
							{{ form_errors(registrationForm) }}
							{{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}

							<div class="form-group">
								{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="form-group">
								{{ form_row(registrationForm.firstname, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="form-group">
								{{ form_row(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="form-group">
								{{ form_row(registrationForm.plainPassword.first, {
                                    'label': 'Mot de passe',
                                    'attr': {'class': 'form-control'}
                                }) }}
							</div>
							<div class="form-group">
								{{ form_row(registrationForm.plainPassword.second, {
                                    'label': 'Confirmer le mot de passe',
                                    'attr': {'class': 'form-control'}
                                }) }}
							</div>
							<div class="form-group form-check">
								<a href="{{ path('app_rgpd') }}" id="rgpd-info" target="_blank">Politique de confidentialité</a>
								{{ form_row(registrationForm.RGPDConsent) }}
							</div>

							<button type="submit" class="btn btn-primary btn-lg btn-block my-3">M'inscrire</button>
							{{ form_end(registrationForm) }}
							<p class="text-center">
								<a href="{{ path('app_login') }}">J'ai déjà un compte</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
