<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Facture</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<style>
			body {
				font-family: Arial, sans-serif;
			}

			.container {
				width: 80%;
				margin: auto;
			}

			.invoice-header {
				background-color: #007bff;
				color: #fff;
				padding: 20px;
				text-align: center;
				margin-bottom: 20px;
			}

			.invoice-details {
				margin-bottom: 30px;
			}

			.invoice-details h4 {
				margin-bottom: 10px;
			}

			.invoice-table {
				width: 100%;
				border-collapse: collapse;
				margin-bottom: 30px;
			}

			.invoice-table th,
			.invoice-table td {
				border: 1px solid #ddd;
				padding: 8px;
			}

			.invoice-total {
				margin-top: 30px;
				text-align: right;
			}

			.invoice-total h5 {
				margin-bottom: 5px;
			}
		</style>
	</head>
	<body>

		<section class="container my-3">
			<div class="invoice-header">
				<h2>Facture</h2>
			</div>

			{% for item in ticket %}
				<div class="invoice-details">
					<h4>Détails du ticket :</h4>
					<p>
						<strong>Description :</strong>
						{{ item.description }}</p>
					<p>
						<strong>Prix :</strong>
						{{ item.price }}
						€</p>
					<p>
						<strong>Sport :</strong>
						{{ item.sport }}</p>
					<p>
						<strong>Type :</strong>
						{{ item.type }}</p>
					<p>
						<strong>Date :</strong>
						{{ item.date|date('d-m-Y H:i') }}</p>
					<p>
						<strong>Localisation :</strong>
						{{ item.localisation }}</p>
					<p>
						<strong>N°commande :</strong>
						{{ item.reference }}</p>
				</div>


				<div class="invoice-total">
					<h5>Total payé :
						{{ item.price }}
						€</h5>
				</div><br>
				<img src="{{ qrcode }}" alt="QR Code">

			{% endfor %}

			<div class="invoice-footer">
				<p>Merci d'avoir acheté un ticket. Pour toute question, veuillez nous contacter à support@JO2024.com.</p>
			</div>
		</section>

	</body>
</html>
