{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<h2>Bienvenue dans l'administration des Jeux Olympiques Paris 2024</h2><br>
				<a class="" href="{{ path('app_accueil') }}">Retour au site</a>

{% endblock %}
