{% block body %}
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body class="bg-white">
		<div class="container ">
			<div class="jumbotron mt-5">
				<h1 class="display-4">Statut du Ticket</h1>
				<hr class="my-4">
				{% if reponse == 'TICKET OFFICIEL' %}
					<div class="alert alert-success" role="alert">
						<h4 class="alert-heading">Ticket Officiel</h4>
						<p>Votre ticket a été scanné avec succès et est officiel.</p>
						<p class="mb-0">Nom:
							{{ nom }}</p>
						<p class="mb-0">Prénom:
							{{ prenom }}</p>
						<p class="mb-0">Email:
							{{ mail }}</p>
						<p class="mb-0">offre:
							{{ type }}</p>
					</div>
				{% else %}
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Ticket Non Officiel</h4>
						<p>Votre ticket n'est pas valide. Veuillez contacter le support.</p>
					</div>
				{% endif %}
			</div>
		</div>
	</body>
{% endblock %}
