{% extends 'base.html.twig' %}

{% block title %}Sélection des Tickets
{% endblock %}

{% block body %}
	<div class="custom-card">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_sport') }}">Billetterie</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
						</li>
						{% if app.user %}

							{% for role in app.user.roles %}
								{% if role == 'ROLE_ADMIN' %}
									<li class="nav-item">
										<a class="nav-link" href="{{ path('admin') }}">Administration</a>
									</li>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_dashboard_user') }}">Mes Tickets</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		<div class="container mt-5">
			<h1 class="mb-3 text-center">Sélection de Tickets pour
				{{ product.sport.name }}</h1>
			<div class="card mb-4 shadow-lg" style="border-radius: 15px;">
				<div class="card-body">
					<h2 class="card-title">{{ product.description }}</h2>
					<p class="card-text">Date :
						{{ product.date|date('Y-m-d H:i') }}</p>
					<p class="card-text">Localisation :
						{{ product.localisation }}</p>
					<p class="card-text">Nombre de places disponibles :
						{{ product.numberPlace }}</p>

					{% for offre in offres %}
						<p class="card-text">Prix ticket
							{{offre.name}}
							:
							{{ (product.price * offre.multiplicateur)|number_format(2, '.', '') }}€</p>
						<a href="{{path('cart_add',{id: product.id, type: offre.name ,price: product.price * offre.multiplicateur }) }}" class="btn btn-outline-success" style="border-radius: 20px;">Ajouter ticket
							{{offre.name}}
							au panier</a> <br><br>
					{% endfor %}


				</div>
			</div>
			<a href="{{ path('app_products_by_sport', {'sport': product.sport.id}) }}" class="btn mt-2" style="border-radius: 20px; background-color: black; color: white; margin-bottom: 30px;">Retour au choix du produit</a>
		</div>
	</div>
{% endblock %}
