{% extends 'base.html.twig' %}

{% block title %}Evenements de {{ sport.name }}{% endblock %}

{% block body %}
    <div class="custom-card">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
            <div class="container">
                <a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_sport') }}">Choix des sports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cart_index') }}">Mon panier</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container mt-5">
            <h1 class="mb-3 text-center">Evenements de {{ sport.name }}</h1>
            {% if sport.products|length == 0 %}
                <p class="text-center">Il n'y a pas de produits pour le moment.</p>
            {% else %}
                {% for product in sport.products %}
                    <div class="card mb-3 shadow-lg" style="border-radius: 15px;">
                        <div class="row g-0">
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                {% if product.sport.picture %}
                                    <img src="{{ asset('asset/' ~ product.sport.picture) }}" alt="{{ product.sport.name }}" class="img-fluid" style="border-radius: 10px;">
                                {% else %}
                                    <p>Pas d'image disponible</p>
                                {% endif %}
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="row mt-5">
                                        <div class="col-6">
                                            <h5 class="card-title">{{ product.description }}</h5>
                                            <p class="card-text">Date : {{ product.date|date('Y-m-d H:i') }}</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="card-text">Localisation: {{ product.localisation }}</p>
                                            <p class="card-text">Places: {{ product.numberPlace }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-center">
                                <a href="{{ path('acheter_ticket', {'id': product.id}) }}" class="btn" style="border-radius: 20px; background-color: black; color: white; padding: 10px 20px;">Voir les tickets</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
