{% extends 'base.html.twig' %}

{% block title %}Accueil - Achat de Tickets pour les JO
{% endblock %}


{% block body %}
	<div class="custom-card">
		<div class="banner position-relative">
			<img src="{{ asset('asset/BannJO.png') }}" alt="JO Paris 2024" class="img-fluid">
			<h1 class="custom-header position-absolute p-3" style="top: 10%; left: 5%;">BILLETTERIE OFFICIELLE<br>DES JEUX DE PARIS 2024</h1>
			<p class="custom-paragraph position-absolute p-3" style="top: 20%; left: 5%;">Bienvenue sur la billetterie officielle des Jeux Olympiques
				<br>
				et Paralympiques de Paris 2024 !  Pour vous connecter à votre compte
				<br>
				ou en créer un, cliquez ci-dessous sur "Je me connecte".</p>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_sport') }}">Billetterie</a>
						</li>

						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_dashboard_user') }}">Mes Tickets</a>
							</li>
							{% for role in app.user.roles %}
								{% if role == 'ROLE_ADMIN' %}
									<li class="nav-item">
										<a class="nav-link" href="{{ path('admin') }}">Administration</a>
									</li>
								{% endif %}
							{% endfor %}
						{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
							</li>
						{% endif %}
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{% endif %}


					</ul>
				</div>
			</div>
		</nav>


		<div class="container mt-5">
			<h1 class="mb-3">Bienvenue sur la plateforme de réservation de tickets pour les JO</h1>
			<p class="lead">
				Les Jeux Olympiques et Paralympiques de Paris 2024 célèbrent l'excellence sportive, l'innovation, et la culture. Rejoignez-nous pour vivre des moments inoubliables et soutenir vos athlètes favoris!
			</p>

			<div class="row mt-4">
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Épreuves Athlétiques</h5>
							<p class="card-text">Découvrez les épreuves classiques d'athlétisme, de la course de vitesse aux marathons, en passant par le saut en longueur et plus encore.</p>
							<a href="#" class="btn btn-primary">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Sports Aquatiques</h5>
							<p class="card-text">Plongez dans l'action avec la natation, le plongeon, et le water-polo. Venez soutenir les champions dans des compétitions épiques.</p>
							<a href="#" class="btn btn-primary">En savoir plus</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Sports de Combat</h5>
							<p class="card-text">Assistez aux épreuves de judo, taekwondo, et boxe. Chaque match promet d'être une démonstration de force, d'agilité et de technique.</p>
							<a href="#" class="btn btn-primary">En savoir plus</a>
						</div>
					</div>
				</div>
			</div>
			<div class="external-content p-font-size-m-xl p-line-height-m u-small-width" data-qa="editorial-text">
				<h2 class="default-headline theme-headline-color">Achetez uniquement auprès des canaux officiels</h2>
				<p class="theme-text-color">
					En achetant des billets ou des packages d'hospitalités en dehors des canaux de distribution officiels, l'acheteur risque de ne pas les recevoir, ou de se voir refuser l'accès aux sites des épreuves sportives par le comité d'organisation des Jeux Olympiques et Paralympiques de Paris 2024,
					<span class="u-font-weight-700">conformément aux conditions générales de vente en vigueur</span>.
																		        En outre, toute vente ou revente non autorisée et en dehors des canaux de distribution officiels.<br><br>
				</p>
			</div>
			<div class="row">
				<div class="external-content p-font-size-m-xl p-line-height-m u-small-width">
					<h2 class="default-headline theme-headline-color">Les Partenaires de Paris 2024</h2>
					<p class="lead">
						Les Partenaires sont des acteurs essentiels de la construction et de la réussite des Jeux Olympiques et Paralympiques de Paris 2024. Qu’ils soient Partenaires Mondiaux (membres du programme TOP du CIO) ou Partenaires Nationaux (Premium, Officiels ou Supporteurs), ils participent à la réalisation des Jeux révolutionnaires de Paris 2024.
					</p>
					<p class="lead">
						Leur contribution peut être financière ou technique, à travers la fourniture de produits et de services : ils collaborent ainsi à l’organisation des Jeux Olympiques et Paralympiques de Paris 2024, y compris grâce à leur savoir-faire, qu’ils mettent à disposition des équipes du comité d’organisation.
					</p>
					<p class="lead">
						Les Partenaires sont des ambassadeurs de la vision de Paris 2024, ils mobilisent tout leur écosystème (collaborateurs, clients, fournisseurs, etc.) pour promouvoir les Jeux et concourent activement au développement de projets en ligne avec la stratégie d’héritage et de durabilité de Paris 2024.
					</p>
				</div>
			</div>
		</div>

	</div>


{% endblock %}
