<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    {% block stylesheets %}
        <style>
            body {
                margin: 0 auto;
                max-width: 1500px;
                padding: 1%;
            }
            .custom-card {
                border: 1px solid #dee2e6;
                border-radius: 0.25rem;
                box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            }
            .custom-header {
                font-size: 56px; /* Taille de la police */
                font-weight: bold; /* Mise en gras */
                color: white; /* Couleur du texte */
                text-align: left; /* Alignement à gauche */
            }
            .custom-paragraph {
                font-size: 24px; /* Taille de la police */
                font-weight: bold; /* Mise en gras */
                color: white; /* Couleur du texte */
                margin-top: 10%; /* Espacement entre le h1 et le paragraphe */
            }
        </style>
    {% endblock %}




    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<!-- Footer -->
	<footer class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="footer-logo">
						<img src="{{asset('asset/jo2024logo.png')}}" alt="Logo JO 2024">
					</div>
					<p>Bienvenue sur notre plateforme dédiée aux Jeux Olympiques de 2024 à Paris. Restez informé des dernières actualités et événements à ne pas manquer !</p>
				</div>
				<div class="col-md-4">
					<h5>Liens utiles</h5>
					<ul class="list-unstyled">
						<li>
							<a href="#!" class="text-white">Calendrier des événements</a>
						</li>
						<li>
							<a href="#!" class="text-white">Lieux des compétitions</a>
						</li>
						<li>
							<a href="#!" class="text-white">Billetterie</a>
						</li>
						<li>
							<a href="#!" class="text-white">FAQ</a>
						</li>
						<li>
							<a href="#!" class="text-white">Politique de confidentialiter</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<h5>Contact</h5>
					<p>
						<i class="fas fa-map-marker-alt"></i>
						Paris, France</p>
					<p>
						<i class="fas fa-envelope"></i>
						info@jo2024.paris</p>
					<p>
						<i class="fas fa-phone"></i>
						+33 1 23 45 67 89</p>
				</div>
			</div>
			<hr class="mt-4">
			<div class="social-icons mt-3">
				<a href="#" class="text-white">
					<i class="fab fa-facebook-f"></i>
				</a>
				<a href="#" class="text-white">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="#" class="text-white">
					<i class="fab fa-instagram"></i>
				</a>
				<a href="#" class="text-white">
					<i class="fab fa-linkedin"></i>
				</a>
			</div>
			<p class="mt-3">© 2024 Jeux Olympiques Paris | Tous droits réservés</p>
		</div>
	</footer>
	<style>
		footer {
			color: white;
			background-color: #331362;
			padding: 60px 0;
		}


		footer .footer-logo img {
			width: 150px;
			margin-bottom: 30px;
		}

	
	</style>