{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de la Commande{% endblock %}

{% block body %}
	<div class="custom-card">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
			<div class="container">
				<a class="navbar-brand" href="#">JO Paris 2024</a>
				<!-- Le reste de la navbar ici -->
			</div>
		</nav>

		<section class="container my-5">
			<h1 class="text-center mb-4">Récapitulatif de la Commande</h1>
			<div class="card shadow-lg mb-4" style="border-radius: 15px;">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
							<tr>
								<th>Ticket</th>
								<th>Prix</th>
								<th>Offre</th>
								<th>Quantité</th>
								<th>Total</th>
							</tr>
							</thead>
							<tbody>
							{% for element in data %}
								<tr>
									<td>{{ element.product.description }}</td>
									<td>{{ element.price }} €</td>
									<td>{{ element.type | capitalize }}</td>
									<td>{{ element.quantity }}</td>
									<td>{{ (element.price * element.quantity)|number_format(2, '.', '') }} €</td>
								</tr>
							{% endfor %}
							</tbody>
							<tfoot>
							<tr>
								<td colspan="4" class="text-right">Total</td>
								<td>{{ total }} €</td>
							</tr>
							</tfoot>
						</table>
					</div>
					<div class="text-right">
						<a href="{{ path('payment_stripe', {reference: reference}) }}" class="btn" style="background-color: black; color: white; border-radius: 20px;">Payer {{ total }} €</a>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
