<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Merci pour votre commande!</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
			body {
				background-color: #f8f9fa;
			}

			.container {
				max-width: 600px;
				margin: 100px auto;
				padding: 30px;
				background-color: #fff;
				border-radius: 10px;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			}

			h1 {
				text-align: center;
				margin-bottom: 30px;
				color: #343a40;
			}

			p {
				font-size: 18px;
				margin-bottom: 20px;
				color: #6c757d;
			}

			a {
				color: #007bff;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
		</style>
	</head>

	<body>

		<div class="container">
			<h1>Merci pour votre commande!</h1>
			<p>Votre commande a été traitée avec succès. Nous vous remercions pour votre achat!</p>
			<p>Vous pouvez
				<a href="{{ path('app_accueil') }}">revenir à l'accueil</a>
				pour continuer votre navigation.</p>
		</div>

	</body>

</html>
