{% extends 'base.html.twig' %}

{% block title %}Mes Commandes
{% endblock %}

{% block body %}
	<body class="bg-white">

		<div class="custom-card">
			<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
				<div class="container">
					<a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_sport') }}">Billetterie</a>
							</li>
							{% if app.user %}
								{% for role in app.user.roles %}
									{% if role == 'ROLE_ADMIN' %}
										<li class="nav-item">
											<a class="nav-link" href="{{ path('admin') }}">Administration</a>
										</li>
									{% endif %}
								{% endfor %}
							{% else %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
								</li>
							{% endif %}
							{% if app.user %}
								<li class="nav-item ">
									<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
								</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>

			<section class="container my-5">
				<h1 class="text-center mb-4">Mes Commandes</h1>

				{% if myOrders is not empty %}
					{% for order in myOrders|reverse %}
						<div class="card mb-3">
							<div class="card-header d-flex justify-content-between align-items-center">
								<h5>Commande N°
									{{ order.reference }}</h5>
								<button class="btn btn-outline-primary toggle-details" data-toggle="collapse" data-target="#ticket-details-{{ order.reference }}">Détails</button>

							</div>
							<div class="collapse" id="ticket-details-{{ order.reference }}">
								<ul class="list-group list-group-flush">
									{% for ticket in myTickets|reverse %}
										{% if ticket.reference == order.reference %}
											<li class="list-group-item">
												<div class="card mb-2">
													<div class="card-body">
														<h5 class="card-title">{{ ticket.description }}</h5>
														<h6 class="card-subtitle mb-2 text-muted">{{ ticket.price }}
															€</h6>
														<p class="card-text">
															<strong>Sport:</strong>
															{{ ticket.sport }}<br>
															<strong>Type:</strong>
															{{ ticket.type }}<br>
															<strong>Date:</strong>
															{{ ticket.date|date('d-m-Y H:i') }}<br>
															<strong>Localisation:</strong>
															{{ ticket.localisation }}<br>
															<strong>Id:</strong>
															{{ ticket.idTicket }}
														</p>
														<a href="{{ path('pdf_service', {id: ticket.idTicket }) }}" class="card-link">Télécharger mon PDF</a>
													</div>
												</div>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="alert alert-info text-center" role="alert">
						Vous n'avez pas encore passé de commande.
					</div>
				{% endif %}
			</section>
		</div>

		<script>
			// Vérifier si la page a été chargée à partir du cache du navigateur
window.addEventListener('load', function () {
if (performance.navigation.type == 2) {
// La page a été chargée à partir du cache du navigateur
// Rafraîchir la page
window.location.reload();
}
});
document.addEventListener("DOMContentLoaded", function () {
const toggleButtons = document.querySelectorAll('.toggle-details');
toggleButtons.forEach(button => {
button.addEventListener('click', function () {
const targetId = this.getAttribute('data-target');
const targetDetails = document.getElementById(targetId.substring(1)); // Remove the '#' character
if (targetDetails) {
targetDetails.classList.toggle('collapse');
}
});
});
});
		</script>
	</body>
	{% set refresh = app.session.get('refresh', false) %}
	{% if not refresh %}
		<meta http-equiv="refresh" content="1">
		{% set refresh = true %}
		{% do app.session.set('refresh', refresh) %}
	{% else %}
		{% do app.session.remove('refresh') %}
	{% endif %}

{% endblock %}
