{% extends 'base.html.twig' %}

{% block title %}Réservez vos billets{% endblock %}

{% block body %}
    <body class="bg-white">

	<div class="custom-card">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #331362;">
			<div class="container">
				<a class="navbar-brand" href="{{ path('app_accueil') }}">JO Paris 2024</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_accueil') }}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('cart_index') }}">Mon panier</a>
						</li>
						
					</ul>
				</div>
			</div>
		</nav>

		<div class="container mt-5">
		{% for message in app.flashes('message') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
			<h1 class="mb-3 text-center">Réservez vos billets pour les épreuves</h1>
			<div class="row">
				{% for sport in sports %}
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm" style="border-radius: 15px;">
							<div class="card-body">
								<h5 class="card-title">{{ sport.name }}</h5>
								{% if sport.picture %}
									<img src="{{ asset('asset/' ~ sport.picture) }}" alt="{{ sport.name }}" class="img-fluid" style="border-radius: 10px;">
								{% else %}
									<p>Pas d'image disponible</p>
								{% endif %}
								<div class="card-footer bg-white" style="border-top: none; text-align: center;">
									<a href="{{ path('app_products_by_sport', {'sport': sport.id}) }}" class="btn" style="border-radius: 10px; background-color: black; color: white; width: 80%; margin-top: 10px;">Réserver maintenant</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
    </body>

{% endblock %}
